---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Control de Bienes Informáticos">
	<main>
		<h1 class="text-center text-4xl font-extrabold">Control de Bienes Informáticos</h1>
		<Header />
	</main>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/registro">Registro</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/impresion">Impresion de Controles</a>
	</button>
	<h2 class="mt-8 text-2xl font-bold">Informes</h2>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/DAP_SIS">Por DAP_SIS</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/IPyDirFisica">IP y Dirección Física</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/equiposSinIp">Equipos sin IP</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/ipDisponible">IP Disponible</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/area">Por Área</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/areaEspecific">Por Área Específica</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/responsable">Por Responsable</a>
	</button>
	<button class="mt-4 px-4 py-2 bg-accent rounded hover:bg-accent-dark">
		<a href="/menu/responsableEspecific">Por Responsable Específico</a>
	</button>
</Layout>
