---
import CDMXlogo from '../assets/CDMX_logo.png';
import "../styles/global.css";
---

<header class="flex items-center">
	<img src={CDMXlogo.src} alt="CDMX Logo" class="mx-1 my-4 w-50 h-auto">
	<div class="ml-1 text-gray-500">
		<p class="text-xs">SECRETARIA DE OBRAS Y SERVICIOS</>
		<p class="text-xs">DIRECCIÓN GENERAL DE SERVICIOS URBANOS Y SUSTENTABILIDAD</p>
		<p class="text-xs">DIRECCIÓN DE ALUMBRADO PÚBLICO</p>
	</div>
</header>