---
import CDMXlogo from '../assets/CDMX_logo.png';
import "../styles/global.css";
---

<header>
	<img src={CDMXlogo.src} alt="CDMX Logo" class="mx-1 my-4 w-32 h-auto">
	<ul>
		<li>sdad</li>
		<li>fdf</li>
		<li>yuu</li>
	</ul>
</header>



